/data/final_stage_dataset/raw/Processing...

/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab
/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab.id_names.txt
/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab.obj_name.model
/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab.obj_name.vocab
/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab.src_code_tokens.model
/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab.src_code_tokens.txt
/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab.src_code_tokens.vocab
/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab.tgt.model
/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab.tgt.vocab
/data_dire_trial/vocabularies/vocab_example/dire_vocab/vocab.var_names.txt
/logs/
/data/
/caches/
/data_dire_trial/
/experiments/data_exploration/cache/
/dire_neural_model/data/
/meta_experiments/meta_results/
/dire_neural_model/dire_neural_model/
/dire_neural_model/dire_neural_model/exp_runs/
