torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
ujson
cpp_demangle
psutil
docopt
sentencepiece
pygments
jsonlines
openpyxl
imblearn
editdistance
ASR-metrics
optuna
https://pytorch-geometric.readthedocs.io/en/latest/notes/installation.html